<div class="row pt-5 pb-3 mb-4">
    <hr>
    <h2 class="text-center display-6 fw-normal"><%= currentMonthAndYear %> Ayının En İyisi</h2>
    <p class="fs-5 text-muted text-center">
        Bu ayın ödüllerini, acıları ile hak edenlerini açıklama vakti geldi.
        Buyurunuz, en liyakatsız, babişko Asuman vakamız!
    </p>
    <hr>
</div>
<div class="row p-6">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-10 col-xl-8">
                  
                <div class="card rounded-3">
                    <div class="card-body p-5">
          
                        <div class="d-flex justify-content-center mb-4">
                            <img src="img/anonymous_profile.png" class="rounded-circle shadow-1-strong" width="200" height="200" />
                        </div>
                        <figure class="text-center mb-0">
                            <blockquote class="blockquote mb-4">
                                <p>
                                    <span class="font-italic"><%= best_entry %></span>
                                </p>
                            </blockquote>
                            <figcaption class="blockquote-footer mb-0">
                                <%= best_author %>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/confetti.min.js"></script>
<script>
    confetti.start(3000)
</script>
