<div class="card-body text-center"> <img src="img/trophy.png">
    <h4>Tebrikler!</h4>
    <p>Ayın asumanzedesi için siz de oy kullandınız. Oyunuzu kaydettik, bir sonraki ay kazananı açıklayacağız.</p> 
    <button class="btn btn-out btn-square continue" onclick="window.location='/torpil-arsivi';">Tüm torpil arşivini görmeye ne dersiniz?</button>
</div>